<div class="container-fluid">
	<h4>Delete student</h4>
	<a ng-click="$ctrl.parent.setSelectedStudent(null);$ctrl.parent.changePath(0)">Back to list</a>
	<hr />
	<div class="row">
		<dl class="dl-horizontal">
			<dt>
				Name
			</dt>
			<dd>
				{{$ctrl.student.StudentName}}
			</dd>

			<dt>
				Age
			</dt>
			<dd>
				{{$ctrl.student.Age}}
			</dd>

			<dt>
				Blood Group
			</dt>
			<dd>
				{{$ctrl.student.BloodGroup | bloodGroupName}}
			</dd>

			<dt>
				Gender
			</dt>
			<dd>
				{{$ctrl.student.Gender === 0 ? 'Male' : 'Female'}}
			</dd>
		</dl>
    </div>
	<div class="row">
		<button class="btn btn-danger" style="margin-left: 100px" ng-click="$ctrl.deleteStudent()">
			Delete
		</button>
	</div>
</div>
