<div class="container-fluid">
    <h2>Enter student info</h2>

    <div class="row">
        <div class="col-md-7">
            <form class="form" ng-submit="$ctrl.submitStudentForm()">

                <div class="form-group row">
                    <div class="col-md-2">
                        Name
                    </div>
                    <div class="col-md-5">
                        <input name = "studentName" type = "text" ng-model = "$ctrl.studentName" required class="form-control">
                    </div>
                </div>
        
                <div class="form-group row">
                    <div class="col-md-2">
                        Age
                    </div>
                    <div class="col-md-5">
                        <input name = "age" type = "number" ng-model = "$ctrl.age" required class="form-control">
                    </div>
                </div>
        
                <div class="form-group row">
                    <div class="col-md-2">
                        Blood Group
                    </div>
                    <div class="col-md-5">
                        <select name="repeatSelect" id="repeatSelect" ng-model="$ctrl.bloodGroup"
                             class="form-control" required>
                            <option value="">Select one</option>
                            <option ng-repeat="option in $ctrl.bloodGroupItems" value="{{option.id}}">{{option.name}}</option>
                          </select>
                    </div>
                </div>
        
        
                <div class="form-group row">
                    <div class="col-md-2">
                        Gender
                    </div>
                    <div class="col-md-5">
                        <label style="margin-right: 20px">
                            <input type="radio" ng-model="$ctrl.gender" value="0">
                            Male
                          </label>
                          <label>
                            <input type="radio" ng-model="$ctrl.gender" value="1">
                            Female
                          </label>
                    </div>
                </div>
        
                <div class="form-group row">
                    <div class="col-md-2">
                        Image
                    </div>
                    <div class="col-md-5">
                        <input name = "image" type = "file" file-model="$ctrl.image">
                    </div>
                </div>
        
                <div class="form-group row">
                    <div class="col-md-2">
                        Main Course
                    </div>
                    <div class="col-md-5">
                        <select name="mainCourseSelect" id="mainCourseSelect" ng-model="$ctrl.mainCourse" class="form-control">
                            <option value="">Select one</option>
                            <option ng-repeat="option in $ctrl.courseList" ng-value="option.Id">
                                {{option.CourseName}}
                            </option>
                        </select>
                    </div>
                </div>
        
                <div class="form-group row">
                    <div class="col-md-2">
                        Supplementary Course
                    </div>
                    <div class="col-md-5">
                        <select name="supplementarySelect" id="supplementaryCourseSelect" 
                            ng-model="$ctrl.supplementaryCourse" class="form-control">
                            <option value="">Select one</option>
                            <option ng-repeat="option in $ctrl.courseList" ng-value="option.Id">
                                {{option.CourseName}}
                            </option>
                        </select>
                    </div>
                </div>
        
                <div>
                    <button type="button" class="btn btn-danger" 
                        ng-click="$ctrl.parent.setSelectedStudent(null);$ctrl.parent.changePath(0)">
                        Cancel
                    </button>
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
                
                <!-- <span class="text-danger" style="color:red">{{ error }}</span> -->
            </form>
        </div>
        <div class="col-md-5">
            <div style="flex-direction: row;">
                <h3>Image</h3>
                <a ng-if="$ctrl.image" class="text-danger" style="cursor: pointer;" ng-click="$ctrl.removeImage()">Remove</button>
            </div> 
            <img ng-if="$ctrl.image && $ctrl.image.length > 0" ng-src="https://localhost:44318/Photos/{{$ctrl.image}}"
                alt="{{$ctrl.image}}" height="150" width="150" class="img-responsive" />
        </div>
    </div>
    
</div> 